@model SinavMvcOnurYalcinBagonu.Models.Referances

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
}

<h2>Referans Sil</h2>

<h3>Simek İsteğinizden Emin Misiniz?</h3>

<div>
    <h4>Referans</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@Model.Image" width="100" height="100" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RefName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RefName)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Geri Gel", "Index")
        </div>
    }
</div>
